/* Navigation bar */
.navbar {
    padding: 0 0 1rem;
}

.navbar-brand {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 2rem;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-family: "Poppins";
    font-size: 1.25rem;
    font-weight: 100;
}

/* footer section */
#footer {
    text-align: center;
    font-family: "Poppins";
    background-color: #aee6e6;
    line-height: 2rem;
}

.footer-icon {
    margin: 1%;
    color: #000000;
}

.footer-icon:hover{
    color: #FFF;
}
